<form [formGroup]="loginUserForm" class="example-form">
    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Introduce email"
          formControlName="email"
        />
      </mat-form-field>
    </p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        placeholder="Introduce contraseña"
        formControlName="password"
        type="password"
      />
    </mat-form-field>
    <p>
      <button mat-raised-button color="primary" (click)="submit()">Iniciar Sesión</button>
    </p>
    <span *ngIf="show">
      <button mat-button color="accent">{{loginmessage}}</button></span
    >
  </form>

<form [formGroup]="addUserForm" class="dialog-form">
    <mat-grid-list cols="1" rowHeight="600px">
        <mat-grid-tile>
            <div class="example-container">
                <mat-form-field appearance="fill" class="width-50">
                    <mat-label>Nombre empresa</mat-label>
                    <input formControlName="Name" matInput>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="width-100">
                    <mat-label>Email</mat-label>
                    <input formControlName="Email" matInput placeholder="ejemplo@ejemplo.com">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="width-100">
                    <mat-label>Dirección</mat-label>
                    <input formControlName="Address" matInput>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="width-100">
                    <mat-label>CIF</mat-label>
                    <input formControlName="CIF" matInput>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="width-100">
                    <mat-label>Teléfono</mat-label>
                    <input formControlName="PhoneNumber" type="number" matInput>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="width-100">
                    <mat-label>Contraseña</mat-label>
                    <input formControlName="Password" matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <br>
                <button mat-raised-button color="primary" (click)="registerUser()">Registrarse</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>