<mat-card class="example-card">
<mat-card-header>
<div mat-card-avatar class="example-header-image"></div>
<mat-card-title>{{ data.name }}</mat-card-title>
<mat-card-subtitle>{{ data.email }}</mat-card-subtitle>
<mat-card-subtitle>{{ data.cif }}</mat-card-subtitle>
<mat-card-subtitle>{{ data.address }}</mat-card-subtitle>
<mat-card-subtitle>{{ data.phoneNumber }}</mat-card-subtitle>
</mat-card-header>
<img mat-card-image style="width: 400px;" src="https://i.pinimg.com/736x/e0/db/c5/e0dbc54235c6732d596c2c6b9e070377.jpg" alt="Photos of educba">
<mat-card-content>
<p>
</p>
</mat-card-content>
<mat-card-actions>
<!--<button mat-stroked-button color="accent">LIKE</button>
<button mat-stroked-button color="accent">SHARE</button>-->
</mat-card-actions>
</mat-card>