table {
  border-collapse: collapse;
  font-family: arial;
}

.container{
  padding: 3%;
}

td,
th {
  width: auto;
  margin: 2px;
  padding: 3px;
  text-align: left;
  border: 1px solid grey;
}

.noborders {
  border: 0;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th,
.table-borderless > thead > div > tr > th,
.table-borderless > div > tr > th {
    border: none;
}