<button mat-raised-button (click)="openDialog(2,'',0,'')" color="primary">Añadir Presupuesto</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="NameBudget">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let budget">Presupuesto #{{budget.nameBudget}} </td>
  </ng-container>
    <ng-container matColumnDef="Client">
      <th mat-header-cell *matHeaderCellDef> Cliente </th>
      <td mat-cell *matCellDef="let budget"> {{budget.nameClient}} </td>
    </ng-container>
    <ng-container matColumnDef="Import">
      <th mat-header-cell *matHeaderCellDef> Importe Total </th>
      <td mat-cell *matCellDef="let budget"> {{budget.import}}€ </td>
    </ng-container>
    <ng-container matColumnDef="ImportIVA">
      <th mat-header-cell *matHeaderCellDef> Importe Total con IVA </th>
      <td mat-cell *matCellDef="let budget"> {{budget.importIVA}}€</td>
    </ng-container>
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let budget"> {{budget.date}}</td>
    </ng-container>
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
      <td mat-cell *matCellDef="let budget">
        <button mat-raised-button (click)="openDialog(0,budget, 0, '')" color="buttonGreyColor">Detalles</button>
        <button *ngIf="!budget.idBill" mat-raised-button (click)="openDialog(3,budget, 0, '')" color="buttonGreyColor"><mat-icon>event_available</mat-icon></button>
        <button *ngIf="budget.idBill" mat-raised-button (click)="generatePDF(budget)" color="buttonGreyColor"><mat-icon>cloud_download</mat-icon></button>
        <button mat-raised-button (click)="openDialog(1,'',budget.idBudget, budget.nameBudget)" color="buttonGreyColor">Eliminar</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>